/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1130px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1129.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1130px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.breadcrumb > li {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
}
.breadcrumb > li:after {
  width: 5px;
  height: 9px;
  content: "";
  color: #ffcc00;
  margin: 0 25px;
  display: inline-block;
  background: url("../img/icon__angle_right.svg") 50% 50% no-repeat;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb > li > a {
  color: #fff;
  text-decoration: none;
}
.breadcrumb > li > a:hover {
  color: #fff;
  text-decoration: underline;
}

.form_control {
  margin: 0;
  width: 100%;
  height: 42px;
  outline: none;
  color: #1c2530;
  background: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 10px 15px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d6d9dd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #1c2530;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #1c2530;
}
.form_control::-webkit-input-placeholder {
  color: #1c2530;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}

textarea.form_control {
  height: auto;
}

.form_select {
  -webkit-appearance: none;
  background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_select::-ms-expand {
  display: none;
}

.form_group {
  margin-bottom: 15px;
}

.form_item {
  position: relative;
}

.error .form_control {
  border-color: #ef3a4f;
}

.form_label {
  width: 100%;
  color: #707985;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 5px;
  display: inline-block;
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  color: #1c2530;
  font-size: 1.2rem;
  line-height: 1.8rem;
  position: relative;
  padding-left: 28px;
  display: inline-block;
}
.form_checkbox span:after {
  top: 0;
  left: 0;
  z-index: 10;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  display: inline-block;
  border: 1px solid #d6d9dd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span:before {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 15;
  content: "";
  width: 18px;
  height: 18px;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__check.svg") 50% 50% no-repeat;
}
.form_checkbox input:checked + span:before {
  opacity: 1;
  visibility: visible;
}

.form_captcha {
  padding: 5px 0;
}

.form_row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.form_col {
  padding: 5px 0;
}
.form_col_elem {
  width: 100%;
}
@media (min-width: 768px) {
  .form_col_elem {
    width: calc(50% - 8px);
  }
}

.center_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.center_box > * {
  margin: auto 0;
}

.btn {
  outline: none;
  color: #1c2530;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 8px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid #e9e6db;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover {
  color: #1c2530;
  background: #ffcc00;
  border-color: #ffcc00;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(224, 179, 0, 0.4);
  box-shadow: 0px 0px 25px 0px rgba(224, 179, 0, 0.4);
}
.btn:active {
  background: #E3CAFF;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_yellow {
  background: #ffcc00;
  border-color: #ffcc00;
}
.btn_yellow:hover {
  color: #1c2530;
  background: #ffee00;
  border-color: #ffee00;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(224, 179, 0, 0.4);
  box-shadow: 0px 0px 25px 0px rgba(224, 179, 0, 0.4);
}

.btn_white {
  color: #e9e6db;
  border-color: #e9e6db;
  background: transparent;
}
.btn_white:hover {
  color: #1c2530;
  background: #ffcc00;
  border-color: #ffcc00;
}

.btn_border_yellow {
  color: #e9e6db;
  border-color: #ffcc00;
  background: transparent;
}
.btn_border_yellow:hover {
  color: #000;
  background: #ffcc00;
  border-color: #ffcc00;
}

.btn_border_dark {
  color: #1c2530;
  border-color: #1c2530;
  background: transparent;
}
.btn_border_dark:hover {
  color: #fff;
  background: #1c2530;
  border-color: #1c2530;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_0 {
  margin-bottom: 0 !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_25 {
  margin-bottom: 25px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.pt_10 {
  padding-top: 10px !important;
}

.pt_20 {
  padding-top: 20px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #1c2530;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.714285;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1130px) {
  .container {
    width: 1100px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 3.2rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h4, .h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

h5, .h5 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 15px;
  font-family: "Open Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  margin: 0 0 25px 0;
}

strong {
  font-weight: 600;
}

a {
  outline: none;
  color: #1f65c0;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #1f65c0;
  text-decoration: none;
}

.top {
  z-index: 1200;
  font-weight: 400;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}
.top__row {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.top__nav {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.top__nav > li {
  margin-right: 20px;
}
.top__nav > li:last-child {
  display: none;
  margin-right: 0;
}
.top__nav > li > a {
  color: #707985;
  padding: 9px 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.top__nav > li > a:hover {
  color: #707985;
  text-decoration: underline;
}
.top__lng {
  display: block;
}
@media (min-width: 576px) {
  .top {
    display: block;
  }
  .top__nav > li:last-child {
    display: block;
  }
  .top__nav > li > a {
    padding: 12px 0;
  }
}

.header {
  z-index: 1100;
  font-weight: 400;
  background: #fff;
  position: relative;
}
.header__row {
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  width: 205px;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__toggle {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  padding: 10px 5px;
}
.header__toggle span {
  width: 100%;
  height: 3px;
  position: relative;
  margin-bottom: 5px;
  background: #707985;
  display: inline-block;
}
.header__toggle span:last-child {
  margin-bottom: 0;
}
.header__menu {
  top: 0;
  left: 0;
  padding: 10px 15px;
  width: 280px;
  height: 100vh;
  z-index: 1300;
  position: fixed;
  background: #fff;
  margin-left: -310px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav li a {
  width: 100%;
  padding: 5px 0;
  color: #1c2530;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.header__nav li a:hover {
  color: #1f65c0;
}
.header__second {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__second li a {
  width: 100%;
  color: #1c2530;
  padding: 5px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.header__buttons {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__buttons li {
  padding: 10px 5px;
}
.header.nav_open {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header.nav_open .header__toggle span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.nav_open .header__toggle span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header.nav_open .header__toggle span:nth-child(3) {
  display: none;
}
.header.nav_open .header__menu {
  margin-left: 0;
}
@media (min-width: 992px) {
  .header__row {
    height: 125px;
  }
  .header__logo {
    margin-right: 40px;
  }
  .header__toggle {
    display: none;
  }
  .header__menu {
    padding: 0;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    margin-left: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav li {
    margin: 0 15px;
  }
  .header__nav li a {
    padding: 8px 0;
    white-space: nowrap;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  .header__nav li.active a {
    border-bottom-color: #ffcc00;
  }
  .header__buttons {
    padding: 0 5px;
  }
  .header__second {
    display: none;
  }
}
@media (min-width: 1130px) {
  .header__nav li {
    margin: 0 25px;
  }
}

.lng {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  position: relative;
}
.lng__active {
  height: 40px;
  color: #707985;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.lng__active:before {
  left: 50%;
  bottom: -2px;
  z-index: 5;
  width: 13px;
  height: 8px;
  content: "";
  display: block;
  margin-left: -7px;
  position: absolute;
  background: url("../img/lng__arrow.png") 0 0 no-repeat;
  opacity: 0;
  visibility: hidden;
}
.lng__active i {
  margin-right: 8px;
  font-size: 1.4rem;
  position: relative;
}
.lng__active span {
  color: #707985;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.lng__active b {
  width: 16px;
  height: 16px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.lng__dropdown {
  left: -15px;
  top: 100%;
  right: -15px;
  margin: 1px 0 0 0;
  padding: 10px 0;
  display: none;
  overflow: hidden;
  list-style: none;
  background: #fff;
  position: absolute;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.lng__dropdown li a {
  color: #707985;
  font-size: 1rem;
  padding: 8px 15px;
  line-height: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.lng__dropdown li a span {
  margin-right: 8px;
  display: inline-block;
}
.lng__dropdown li a i {
  width: 16px;
  height: 16px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.lng__dropdown li a:hover {
  color: #000;
  background: #e7e7e7;
  text-decoration: none;
}
.lng.open .lng__active:before {
  opacity: 1;
  visibility: visible;
}
.lng.open .lng__dropdown {
  display: block;
}

.footer {
  background: #fff;
}
.footer__row {
  padding-top: 40px;
  padding-bottom: 80px;
  border-top: 2px solid #e6e6e6;
}
.footer__left {
  color: #000;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 40px;
}
.footer__center {
  margin-bottom: 40px;
}
.footer__logo {
  width: 205px;
  display: block;
  margin-bottom: 20px;
}
.footer__nav {
  padding: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0 -15px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer__nav li {
  width: 50%;
  padding: 0 15px;
}
.footer__nav li a {
  color: #000;
  padding: 5px 0;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer__nav li a i {
  opacity: 0.3;
  font-size: 1.8rem;
  margin-right: 15px;
}
.footer__nav li a span {
  display: inline-block;
}
.footer__nav li a:hover {
  color: #1f65c0;
}
.footer__nav li a:hover i {
  opacity: 1;
}
.footer__social {
  padding: 0;
  margin: 0 -5px;
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.footer__social a {
  width: 40px;
  height: 40px;
  margin: 0 5px 10px 5px;
  color: #7f7f7f;
  padding: 8px 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #ededed;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__social a:hover {
  color: #fff;
  background: #2066bd;
  border-color: #2066bd;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__left {
    margin-bottom: 0;
  }
  .footer__center {
    margin-bottom: 0;
  }
  .footer__logo {
    margin-right: 60px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .footer__right {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .footer__logo {
    margin-right: 160px;
  }
  .footer__social {
    margin-left: 90px;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding: 50px 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.main_col {
  width: 100%;
}
@media (min-width: 992px) {
  .main_col {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1130px) {
  .main_col {
    width: calc(50% - 45px);
  }
}

.main_heading {
  height: 120px;
  padding: 20px 0;
  background: #1c2530 url("../img/breadcrumbs__bg.jpg") 50% 50% no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main_heading__row {
  width: 100%;
  margin: auto 0;
}
.main_heading__wrap {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.main_heading__col {
  padding: 5px 10px;
}
.main_heading__nav {
  padding: 0;
  margin: 0 -10px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main_heading__nav li {
  padding: 0 10px;
}
.main_heading__nav li a {
  color: #ffcc00;
  padding-bottom: 8px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.main_heading__nav li a:hover {
  color: #fff;
  text-decoration: none;
}
.main_heading__nav li.active a {
  border-bottom-color: #ffcc00;
}
.main_heading__nav li.active a:hover {
  color: #ffcc00;
}
@media (min-width: 768px) {
  .main_heading {
    height: 185px;
  }
  .main_heading__nav {
    margin: 0 -18px;
  }
  .main_heading__nav li {
    padding: 0 18px;
  }
}
@media (min-width: 992px) {
  .main_heading__nav {
    margin: 0 -18px;
  }
  .main_heading__nav li {
    padding: 0 18px;
  }
}

.heading {
  color: #1c2530;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.heading_line {
  color: #27323f;
  overflow: hidden;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.heading_line:before {
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
  content: "";
  height: 1px;
  background: #ccc;
  position: absolute;
}
.heading_line span {
  z-index: 10;
  padding: 0 25px;
  background: #fff;
  position: relative;
  display: inline-block;
}

.products_block {
  overflow: hidden;
}
.products_block__heading {
  padding-top: 75px;
  position: relative;
  margin-bottom: 40px;
  border-bottom: 2px solid transparent;
}
.products_block__heading:before {
  z-index: 5;
  left: 50%;
  height: 2px;
  content: "";
  width: 148px;
  bottom: -2px;
  background: #fff;
  position: absolute;
  margin-left: -74px;
}
.products_block__one {
  border-bottom-color: #8951a2;
}
.products_block__two {
  border-bottom-color: #5cad25;
}
.products_block__three {
  border-bottom-color: #c99026;
}
.products_block__four {
  border-bottom-color: #3e9cc5;
}
.products_block__five {
  border-bottom-color: #c1496e;
}
.products_block__icon {
  top: 0;
  left: 50%;
  z-index: 10;
  width: 242px;
  height: 195px;
  position: absolute;
  margin-left: -121px;
}
.products_block__content h4 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .products_block__wrap {
    margin-top: -40px;
  }
}

.tabs_item {
  display: none;
}
.tabs_item.active {
  display: block;
}

.list_styled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list_styled li {
  padding-left: 35px;
  margin-bottom: 15px;
  background: url("../img/icon__list_check.png") 0 6px no-repeat;
}

.intro {
  height: 100%;
  overflow: hidden;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.intro_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.intro_wrap {
  margin-bottom: 40px;
}
.intro__content {
  padding: 30px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.intro__content h5 a {
  color: #27323f;
  text-decoration: none;
}
.intro__content h5 a:hover {
  color: #1f65c0;
  text-decoration: none;
}
.intro__text {
  margin-bottom: 15px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .intro_wrap {
    width: calc(50% - 15px);
  }
}
@media (min-width: 992px) {
  .intro_wrap {
    width: calc(50% - 20px);
  }
}

.info {
  text-align: center;
}
.info_yellow {
  color: #1c2530;
  background: #ffcc00 url("../img/history__bg.jpg") 50% 50% no-repeat;
}
.info_dark {
  color: #fff;
  background: #1d2732 url("../img/crypto__bg.jpg") 50% 50% no-repeat;
}
.info__wrap {
  padding: 70px 0;
  overflow: hidden;
}
.info__heading {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.2rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info__text {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.info__left {
  margin-bottom: 50px;
}
.info__image {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}
.info__image:before {
  z-index: 1;
  top: -95px;
  left: -79px;
  content: "";
  right: -79px;
  bottom: -95px;
  display: block;
  position: absolute;
  background: url("../img/history__shadow.png") 50% 50% no-repeat;
  background-size: cover;
}
.info__image_item {
  z-index: 10;
  position: relative;
}
.info__doc {
  margin: 0;
  padding: 0;
  max-width: 414px;
  display: block;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.info__doc li {
  display: block;
  width: calc(50% - 10px);
}
.info__doc a {
  display: block;
  position: relative;
}
.info__doc a:before {
  top: 50%;
  left: 50%;
  z-index: 1;
  content: "";
  width: 267px;
  height: 237px;
  opacity: 0.3;
  position: absolute;
  margin: 0 0 0 -137px;
  background: url("../img/doc__shadow.png") 50% 50% no-repeat;
}
.info__doc a img {
  z-index: 20;
  position: relative;
}
@media (min-width: 992px) {
  .info {
    text-align: left;
  }
  .info__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .info__left {
    width: 450px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .info__right {
    width: 440px;
  }
}
@media (min-width: 1130px) {
  .info__left {
    width: 480px;
  }
  .info__right {
    width: 500px;
  }
}

.contact {
  padding-top: 65px;
  padding-bottom: 85px;
  background: #eff2ff url("../img/contact__bg.jpg") 50% 0 no-repeat;
}
.contact__info {
  margin-bottom: 40px;
}
.contact__info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact__info ul li {
  margin-bottom: 15px;
}
.contact__info ul li a {
  color: #1c2530;
  text-decoration: none;
}
.contact__info ul li a:hover {
  color: #1c2530;
  text-decoration: none;
}
.contact__form {
  background: #fff;
  padding: 40px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.contact__form__heading {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.contact__form__heading h4 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contact__info {
    padding-top: 40px;
  }
  .contact__form {
    padding: 40px 55px;
  }
}
@media (min-width: 992px) {
  .contact__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__info {
    margin-bottom: 0;
    padding-right: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .contact__form {
    width: 675px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.modal {
  width: 320px;
  background: #fff;
  padding: 40px 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.modal__nav {
  padding: 0;
  list-style: none;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.modal__nav li {
  bottom: -1px;
  margin-right: 30px;
  position: relative;
}
.modal__nav li a {
  color: #707985;
  font-size: 1.8rem;
  line-height: 2rem;
  padding-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.modal__nav li a:hover {
  color: #27323f;
}
.modal__nav li.active a {
  color: #27323f;
  font-weight: 600;
  border-bottom-color: #ffcc00;
}
.modal__heading {
  color: #27323f;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0 0 30px 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #dcdcdc;
}
.modal__confirm {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-left: 110px;
  padding-bottom: 20px;
  background: url("../img/icon__lock.png") 0 0 no-repeat;
}
@media (min-width: 768px) {
  .modal {
    width: 490px;
    padding: 40px 54px;
  }
}

.promo {
  overflow: hidden;
  background: url("../img/prpmo__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.promo__row {
  position: relative;
}
.promo__content {
  padding: 80px 0;
}
.promo__title {
  color: #fff;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.promo__title strong {
  color: #ffcc00;
  display: block;
  font-size: 3.4rem;
  line-height: 3.8rem;
}
.promo__title span {
  display: block;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.promo__text {
  color: #fff;
  max-width: 420px;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  margin: 0 auto 60px auto;
}
.promo__buttons {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.promo__buttons li {
  padding: 0 10px;
}
.promo__image {
  display: none;
}
@media (min-width: 768px) {
  .promo__content {
    padding: 120px 0;
  }
  .promo__title {
    margin-bottom: 45px;
  }
  .promo__title strong {
    font-size: 4.4rem;
    line-height: 4.8rem;
  }
  .promo__title span {
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 6px;
  }
  .promo__text {
    margin-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .promo__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .promo__content {
    width: 440px;
    padding: 180px 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .promo__title {
    text-align: left;
  }
  .promo__text {
    margin: 0 0 70px 0;
    text-align: left;
  }
  .promo__buttons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .promo__image {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .promo__image_item {
    left: 0;
    top: 50%;
    width: 760px;
    height: 760px;
    margin-top: -380px;
    position: absolute;
  }
}
@media (min-width: 1130px) {
  .promo__content {
    height: 770px;
    padding-top: 215px;
  }
}

.advantage {
  color: #1c2530;
  padding: 55px 0;
  overflow: hidden;
  background: #fff;
}
.advantage ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.advantage ul li {
  width: calc(50% - 10px);
  text-align: left;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-top: 90px;
  margin-bottom: 75px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.advantage ul li:nth-child(1) {
  background-image: url("../img/advantage__01.png");
}
.advantage ul li:nth-child(2) {
  background-image: url("../img/advantage__02.png");
}
.advantage ul li:nth-child(3) {
  background-image: url("../img/advantage__03.png");
}
.advantage ul li:nth-child(4) {
  background-image: url("../img/advantage__04.png");
}
.advantage ul li:nth-child(5) {
  background-image: url("../img/advantage__05.png");
}
.advantage ul li:nth-child(6) {
  background-image: url("../img/advantage__06.png");
}
.advantage ul h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.advantage ul p {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantage ul li {
    width: calc(50% - 25px);
  }
}
@media (min-width: 992px) {
  .advantage ul li {
    width: calc(33.33% - 25px);
  }
}
@media (min-width: 1130px) {
  .advantage ul li {
    width: calc(33.33% - 45px);
  }
}

.production {
  overflow: hidden;
  padding-top: 55px;
  padding-bottom: 85px;
  background: #eff2ff url("../img/prosuction__bg.jpg") 50% 0 no-repeat;
}
.production__row {
  margin: 0;
  padding: 90px 0 0 0;
  list-style: none;
}
.production__row li {
  margin-bottom: 90px;
}
.production__row li:last-child {
  margin-bottom: 0;
}
.production_item {
  position: relative;
  background: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  padding: 90px 30px 50px 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.production_item__icon {
  top: -80px;
  left: 50%;
  width: 242px;
  height: 195px;
  position: absolute;
  margin-left: -121px;
}
.production_item h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.production_item p {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .production__row {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .production__row li {
    width: 50%;
    padding: 0 15px;
  }
  .production_item {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .production__row {
    padding-top: 50px;
    margin: 0 -22px;
  }
  .production__row li {
    padding: 0 22px;
  }
}

.roadmap {
  padding-top: 50px;
  padding-bottom: 80px;
  background: #fff url("../img/progress__bg.png") 50% 50% no-repeat;
}
.roadmap .heading {
  margin-bottom: 50px;
}
.roadmap__wrap {
  padding: 54px 0 45px 0;
  position: relative;
}
.roadmap__scale {
  top: 14px;
  left: 5px;
  bottom: 14px;
  width: 4px;
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  background: #d7d9e1;
}
.roadmap__scale:before {
  z-index: 2;
  top: -13px;
  left: -11px;
  width: 26px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  background: url("../img/roadmap__scale_top.png") 0 0 no-repeat;
}
.roadmap__scale:after {
  z-index: 2;
  bottom: -2px;
  left: -11px;
  width: 26px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  background: url("../img/roadmap__scale_bottom.png") 0 0 no-repeat;
}
.roadmap__scale_progress {
  width: 4px;
  height: 180px;
  display: block;
  background: #ffcc00;
}
.roadmap__line {
  margin: 0;
  padding: 0;
  z-index: 10;
  list-style: none;
  position: relative;
}
.roadmap__line li {
  padding-left: 40px;
  margin-bottom: 25px;
  position: relative;
}
.roadmap__line li:nth-child(1) .roadmap_item__icon i {
  background: url("../img/roadmap__icon_01.png") 50% 50% no-repeat;
}
.roadmap__line li:nth-child(2) .roadmap_item__icon i {
  background: url("../img/roadmap__icon_02.png") 50% 50% no-repeat;
}
.roadmap__line li:nth-child(3) .roadmap_item__icon i {
  background: url("../img/roadmap__icon_03.png") 50% 50% no-repeat;
}
.roadmap__line li:nth-child(4) .roadmap_item__icon i {
  background: url("../img/roadmap__icon_04.png") 50% 50% no-repeat;
}
.roadmap__line li:nth-child(5) .roadmap_item__icon i {
  background: url("../img/roadmap__icon_05.png") 50% 50% no-repeat;
}
.roadmap__line li:nth-child(6) .roadmap_item__icon i {
  background: url("../img/roadmap__icon_06.png") 50% 50% no-repeat;
}
.roadmap__line li.successfully .roadmap__point {
  border-color: #ffcc00;
}
.roadmap__line li.successfully .roadmap_item__icon {
  border-color: #1d2732;
}
.roadmap__line li.successfully .roadmap_item__icon i {
  opacity: 1;
}
.roadmap__point {
  left: -9px;
  top: 50%;
  width: 32px;
  height: 32px;
  display: block;
  background: #fff;
  position: absolute;
  margin-top: -16px;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.roadmap__point:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  margin: -8px 0 0 -8px;
  background-image: -webkit-linear-gradient(top, #45a2c5 0%, #0a2b79 100%);
  background-image: -o-linear-gradient(top, #45a2c5 0%, #0a2b79 100%);
  background-image: linear-gradient(to bottom, #45a2c5 0%, #0a2b79 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF45A2C5", endColorstr="#FF0A2B79", GradientType=0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.roadmap__logo {
  width: 107px;
}
.roadmap_item {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.roadmap_item__icon {
  width: 64px;
  height: 64px;
  overflow: hidden;
  position: relative;
  margin-right: 30px;
  border: 2px solid #dbdde4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.roadmap_item__icon i {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
}
.roadmap_item__text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.roadmap_item__text strong {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.roadmap_item__text span {
  display: block;
}
@media (min-width: 768px) {
  .roadmap__logo {
    margin: 0 auto;
  }
  .roadmap__scale {
    left: 50%;
    margin-left: -2px;
  }
  .roadmap__point {
    left: 50%;
    margin-left: -16px;
  }
  .roadmap__line li {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .roadmap__line li:nth-child(odd) .roadmap_item:before {
    right: -42px;
  }
  .roadmap__line li:nth-child(odd) .roadmap_item__icon {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin: 0 0 0 20px;
  }
  .roadmap__line li:nth-child(odd) .roadmap_item__text {
    text-align: right;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .roadmap__line li:nth-child(even) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .roadmap__line li:nth-child(even) .roadmap_item:before {
    left: -42px;
  }
  .roadmap_item {
    width: calc(50% - 70px);
  }
  .roadmap_item:before {
    top: 32px;
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    position: absolute;
    background: #27323f;
  }
  .roadmap_item__icon {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .roadmap_item {
    width: calc(50% - 95px);
  }
  .roadmap_item:before {
    width: 44px;
  }
  .roadmap__line li {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .roadmap__line li:nth-child(odd) .roadmap_item:before {
    right: -62px;
  }
  .roadmap__line li:nth-child(even) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .roadmap__line li:nth-child(even) .roadmap_item:before {
    left: -62px;
  }
}

.news {
  background: #fff;
  padding-top: 55px;
  padding-bottom: 70px;
}
.news__row {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__row li {
  margin-bottom: 40px;
}
.news_item {
  font-size: 0;
  line-height: 0;
  height: 110px;
  color: #27323f;
  background: #fff;
  padding-right: 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.news_item:hover {
  color: #27323f;
  text-decoration: none;
}
.news_item__image {
  width: 148px;
  height: 110px;
  margin-right: 30px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.news_item__text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.news_item__date {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.news_item__title {
  height: 36px;
  overflow: hidden;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-overflow: ellipsis;
}
.news_item__arrow {
  width: 42px;
  height: 42px;
  display: none;
  color: #b0b3b7;
  padding: 12px 0;
  font-size: 18px;
  line-height: 18px;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 10px;
}
.news_item:hover {
  color: #27323f;
  text-decoration: none;
}
.news_item:hover .news_item__arrow {
  color: #1c2530;
  background: #ffcc00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.news__load {
  color: #1f65c0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: inline-block;
  text-decoration: none;
}
.news__load span {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  text-decoration: underline;
}
.news__load:hover {
  color: #1f65c0;
  text-decoration: none;
}
.news__load:hover span {
  text-decoration: none;
}
@media (min-width: 768px) {
  .news__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .news__row li {
    width: calc(50% - 22px);
  }
}
@media (min-width: 992px) {
  .news_item__arrow {
    display: inline-block;
  }
}

.faq__nav {
  padding: 0;
  max-width: 340px;
  font-size: 1.6rem;
  line-height: 2rem;
  list-style: none;
  margin: 0 0 30px 0;
}
.faq__nav > li {
  margin-bottom: 4px;
}
.faq__nav > li > a {
  width: 100%;
  color: #27323f;
  background: #fff;
  padding: 12px 15px 12px 20px;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.faq__nav > li > a:before {
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  content: "";
  width: 44px;
  height: 44px;
  display: block;
  visibility: hidden;
  position: absolute;
  background: #ffcc00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.faq__nav > li > a span {
  display: inline-block;
}
.faq__nav > li > a i {
  z-index: 10;
  color: #b0b3b7;
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
}
.faq__nav > li > a:hover {
  color: #27323f;
  text-decoration: none;
}
.faq__nav > li > a:hover i {
  color: #27323f;
}
.faq__nav > li.active > a:before {
  opacity: 1;
  visibility: visible;
}
.faq__nav > li.active > a i {
  color: #27323f;
}
.faq__item {
  display: none;
}
.faq__item.active {
  display: block;
}
@media (min-width: 992px) {
  .faq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .faq__left {
    width: 340px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .faq__right {
    padding-left: 55px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.form_col {
  padding: 5px 0;
}

.products_block__heading {
  padding-top: 110px;
}
@media (min-width: 992px) {
  .products_block__heading {
    padding-top: 75px;
  }
}

/*# sourceMappingURL=main.css.map */
