.footer {
	background: #fff;

	&__row {
		padding-top: 40px;
		padding-bottom: 80px;
		border-top: 2px solid #e6e6e6;
	}

	&__left {
		color: #000;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 40px;

	}

	&__center {
		margin-bottom: 40px;
	}

	&__right {

	}

	&__logo {
		width: 205px;
		display: block;
		margin-bottom: 20px;
	}

	&__nav {
		padding: 0;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		margin: 0 -15px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 50%;
			padding: 0 15px;

			a {
				color: #000;
				padding: 5px 0;
				text-decoration: none;
				@include flexbox();

				i {
					opacity: 0.3;
					font-size: 1.8rem;
					margin-right: 15px;
				}

				span {
					display: inline-block;
				}

				&:hover {
					color: #1f65c0;

					i {
						opacity: 1;
					}
				}
			}
		}
	}

	&__social {
		padding: 0;
		margin: 0 -5px;
		font-size: 0;
		line-height: 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);

		a {
			width: 40px;
			height: 40px;
			margin: 0 5px 10px 5px;
			color: #7f7f7f;
			padding: 8px 0;
			font-size: 20px;
			line-height: 20px;
			text-align: center;
			text-decoration: none;
			border: 2px solid #ededed;
			@include border-radius(50%);
			@include transition(.3s);

			&:hover {
				color: #fff;
				background: #2066bd;
				border-color: #2066bd;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			margin-bottom: 0;
		}

		&__center {
			margin-bottom: 0;
		}

		&__logo {
			margin-right: 60px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__right {
			@include flex-shrink(0);
		}


		&__logo {
			margin-right: 160px;
		}

		&__social {
			margin-left: 90px;
			@include flex-wrap(nowrap);
		}
	}
}