
.promo {
	overflow: hidden;
	background: url("../img/prpmo__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__row {
		position: relative;
	}

	&__content {
		padding: 80px 0;
	}

	&__title {
		color: #fff;
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;

		strong {
			color: #ffcc00;
			display: block;
			font-size: 3.4rem;
			line-height: 3.8rem;
		}

		span {
			display: block;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 3rem;
			letter-spacing: 4px;
			text-transform: uppercase;
		}
	}

	&__text {
		color: #fff;
		max-width: 420px;
		font-size: 1.4rem;
		line-height: 2.4rem;
		text-align: center;
		margin: 0 auto 60px auto;
	}

	&__buttons {
		padding: 0;
		margin: 0 -10px;
		list-style: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include flex-wrap(wrap);

		li {
			padding: 0 10px;
		}
	}

	&__image {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		&__content {
			padding: 120px 0;
		}


		&__title {
			margin-bottom: 45px;

			strong {
				font-size: 4.4rem;
				line-height: 4.8rem;
			}

			span {
				font-size: 3rem;
				line-height: 3.6rem;
				letter-spacing: 6px;
			}
		}

		&__text {
			margin-bottom: 70px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
		}

		&__content {
			width: 440px;
			padding: 180px 0;
			@include flex-shrink(0);
		}

		&__title {
			text-align: left;
		}

		&__text {
			margin: 0 0 70px 0;
			text-align: left;
		}

		&__buttons {
			@include justify-content(flex-start);
		}

		&__image {
			display: block;
			position: relative;
			@include flex-grow(1);

			&_item {
				left: 0;
				top: 50%;
				width: 760px;
				height: 760px;
				margin-top: -380px;
				position: absolute;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			height: 770px;
			padding-top: 215px;
		}
	}
}

.advantage {
	color: #1c2530;
	padding: 55px 0;
	overflow: hidden;
	background: #fff;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		li {
			width: calc(50% - 10px);
			text-align: left;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2.4rem;
			padding-top: 90px;
			margin-bottom: 75px;
			background-position: 0 0;
			background-repeat: no-repeat;

			&:nth-child(1) {
				background-image: url("../img/advantage__01.png");
			}

			&:nth-child(2) {
				background-image: url("../img/advantage__02.png");
			}

			&:nth-child(3) {
				background-image: url("../img/advantage__03.png");
			}

			&:nth-child(4) {
				background-image: url("../img/advantage__04.png");
			}

			&:nth-child(5) {
				background-image: url("../img/advantage__05.png");
			}

			&:nth-child(6) {
				background-image: url("../img/advantage__06.png");
			}
		}

		h4 {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		ul {

			li {
				width: calc(50% - 25px);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		ul {

			li {
				width: calc(33.33% - 25px);
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		ul {

			li {
				width: calc(33.33% - 45px);
			}
		}
	}
}


.production {
	overflow: hidden;
	padding-top: 55px;
	padding-bottom: 85px;
	background: #eff2ff url("../img/prosuction__bg.jpg") 50% 0 no-repeat;

	&__row {
		margin: 0;
		padding: 90px 0 0 0;
		list-style: none;

		li {
			margin-bottom: 90px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&_item {
		position: relative;
		background: #fff;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.4rem;
		text-align: center;
		padding: 90px 30px 50px 30px;
		@include border-radius(4px);
		@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.15));

		&__icon {
			top: -80px;
			left: 50%;
			width: 242px;
			height: 195px;
			position: absolute;
			margin-left: -121px;
		}

		h4 {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 20px;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			li {
				width: 50%;
				padding: 0 15px;
			}
		}

		&_item {
			height: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			padding-top: 50px;
			margin: 0 -22px;

			li {
				padding: 0 22px;
			}
		}
	}
}


.roadmap {
	padding-top: 50px;
	padding-bottom: 80px;
	background: #fff url("../img/progress__bg.png") 50% 50% no-repeat;

	.heading {
		margin-bottom: 50px;
	}

	&__wrap {
		padding: 54px 0 45px 0;
		position: relative;


		&:before {

		}
	}

	&__scale {
		top: 14px;
		left: 5px;
		bottom: 14px;
		width: 4px;
		content: '';
		z-index: 1;
		display: block;
		position: absolute;
		background: #d7d9e1;

		&:before {
			z-index: 2;
			top: -13px;
			left: -11px;
			width: 26px;
			height: 15px;
			content: '';
			display: block;
			position: absolute;
			background: url("../img/roadmap__scale_top.png") 0 0 no-repeat;
		}

		&:after {
			z-index: 2;
			bottom: -2px;
			left: -11px;
			width: 26px;
			height: 15px;
			content: '';
			display: block;
			position: absolute;
			background: url("../img/roadmap__scale_bottom.png") 0 0 no-repeat;
		}

		&_progress {
			width: 4px;
			height: 180px;
			display: block;
			background: #ffcc00;
		}
	}

	&__line {
		margin: 0;
		padding: 0;
		z-index: 10;
		list-style: none;
		position: relative;

		li {
			padding-left: 40px;
			margin-bottom: 25px;
			position: relative;

			&:nth-child(1) {

				.roadmap_item__icon {

					i {
						background: url("../img/roadmap__icon_01.png") 50% 50% no-repeat;
					}
				}
			}

			&:nth-child(2) {

				.roadmap_item__icon {

					i {
						background: url("../img/roadmap__icon_02.png") 50% 50% no-repeat;
					}
				}
			}

			&:nth-child(3) {

				.roadmap_item__icon {

					i {
						background: url("../img/roadmap__icon_03.png") 50% 50% no-repeat;
					}
				}
			}

			&:nth-child(4) {

				.roadmap_item__icon {

					i {
						background: url("../img/roadmap__icon_04.png") 50% 50% no-repeat;
					}
				}
			}

			&:nth-child(5) {

				.roadmap_item__icon {

					i {
						background: url("../img/roadmap__icon_05.png") 50% 50% no-repeat;
					}
				}
			}

			&:nth-child(6) {

				.roadmap_item__icon {

					i {
						background: url("../img/roadmap__icon_06.png") 50% 50% no-repeat;
					}
				}
			}

			&.successfully {

				.roadmap__point {
					border-color: #ffcc00;
				}

				.roadmap_item__icon {
					border-color: #1d2732;

					i {
						opacity: 1;
					}
				}
			}
		}
	}

	&__point {
		left: -9px;
		top: 50%;
		width: 32px;
		height: 32px;
		display: block;
		background: #fff;
		position: absolute;
		margin-top: -16px;
		border: 4px solid #fff;
		@include border-radius(50%);

		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 16px;
			height: 16px;
			display: block;
			position: absolute;
			margin: -8px 0 0 -8px;
			@include gradient-vertical(#45a2c5, #0a2b79);
			@include border-radius(50%);
		}
	}

	&__logo {
		width: 107px;
	}

	&_item {
		font-size: 0;
		line-height: 0;
		position: relative;
		@include flexbox();
		@include align-items(center);

		&__icon {
			width: 64px;
			height: 64px;
			overflow: hidden;
			position: relative;
			margin-right: 30px;
			border: 2px solid #dbdde4;
			@include border-radius(50%);
			@include flex-shrink(0);

			i {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				position: absolute;
			}
		}

		&__text {
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
			@include flex-grow(1);

			strong {
				display: block;
				font-weight: 600;
				font-size: 1.6rem;
				text-transform: uppercase;
			}

			span {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__logo {
			margin: 0 auto;
		}

		&__scale {
			left: 50%;
			margin-left: -2px;
		}

		&__point {
			left: 50%;
			margin-left: -16px;
		}

		&__line {

			li {
				padding: 0;
				@include flexbox();

				&:nth-child(odd) {

					.roadmap_item {

						&:before {
							right: -42px;
						}
					}

					.roadmap_item__icon {
						@include order(2);
						margin: 0 0 0 20px;
					}

					.roadmap_item__text {
						text-align: right;
						@include order(1);
					}
				}

				&:nth-child(even) {
					@include justify-content(flex-end);

					.roadmap_item {

						&:before {
							left: -42px;
						}
					}
				}
			}
		}

		&_item {
			width: calc(50% - 70px);

			&:before {
				top: 32px;
				content: '';
				width: 30px;
				height: 1px;
				display: block;
				position: absolute;
				background: #27323f;
			}

			&__icon {
				margin-right: 20px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {


		&_item {
			width: calc(50% - 95px);

			&:before {
				width: 44px;
			}
		}

		&__line {

			li {
				padding: 0;
				@include flexbox();

				&:nth-child(odd) {

					.roadmap_item {

						&:before {
							right: -62px;
						}
					}
				}

				&:nth-child(even) {
					@include justify-content(flex-end);

					.roadmap_item {

						&:before {
							left: -62px;
						}
					}
				}
			}
		}
	}
}


.news {
	background: #fff;
	padding-top: 55px;
	padding-bottom: 70px;

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 40px;
		}
	}

	&_item {
		font-size: 0;
		line-height: 0;
		height: 110px;
		color: #27323f;
		background: #fff;
		padding-right: 30px;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);
		@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.15));

		&:hover {
			color: #27323f;
			text-decoration: none;
		}

		&__image {
			width: 148px;
			height: 110px;
			margin-right: 30px;
			@include flex-shrink(0);
		}

		&__text {
			@include flex-grow(1);
		}

		&__date {
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 5px;
		}

		&__title {
			height: 36px;
			overflow: hidden;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.8rem;
			text-overflow: ellipsis;
		}

		&__arrow {
			width: 42px;
			height: 42px;
			display: none;
			color: #b0b3b7;
			padding: 12px 0;
			font-size: 18px;
			line-height: 18px;
			background: #fff;
			text-align: center;
			@include border-radius(3px);
			@include transition(.3s);
			@include flex-shrink(0);
			margin-left: 10px;
		}

		&:hover {
			color: #27323f;
			text-decoration: none;

			.news_item__arrow {
				color: $color-base;
				background: #ffcc00;
				@include transition(.3s);
			}
		}
	}

	&__load {
		color: #1f65c0;
		font-size: 1.4rem;
		line-height: 1.6rem;
		display: inline-block;
		text-decoration: none;

		span {
			width: 100%;
			white-space: nowrap;
			display: inline-block;
			text-decoration: underline;
		}

		&:hover {
			color: #1f65c0;
			text-decoration: none;

			span {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {


		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: calc(50% - 22px);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&_item {

			&__arrow  {
				display: inline-block;
			}
		}
	}
}
