.faq {

	&__left {

	}

	&__right {

	}

	&__nav {
		padding: 0;
		max-width: 340px;
		font-size: 1.6rem;
		line-height: 2rem;
		list-style: none;
		margin: 0 0 30px 0;

		> li {
			margin-bottom: 4px;

			> a {
				width: 100%;
				color: #27323f;
				background: #fff;
				padding: 12px 15px 12px 20px;
				position: relative;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
				@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.15));

				&:before {
					top: 0;
					right: 0;
					opacity: 0;
					z-index: 1;
					content: '';
					width: 44px;
					height: 44px;
					display: block;
					visibility: hidden;
					position: absolute;
					background: #ffcc00;
					@include border-radius(3px);
				}

				span {
					display: inline-block;
				}

				i {
					z-index: 10;
					color: #b0b3b7;
					font-size: 2rem;
					line-height: 2rem;
					position: relative;
				}

				&:hover {
					color: #27323f;
					text-decoration: none;

					&:before {
					//	opacity: 1;
					//	visibility: visible;
					}

					i {
						color: #27323f;
					}
				}
			}

			&.active {

				> a {

					&:before {
						opacity: 1;
						visibility: visible;
					}

					i {
						color: #27323f;
					}
				}
			}
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();

		&__left {
			width: 340px;
			@include flex-shrink(0);
		}

		&__right {
			padding-left: 55px;
			@include flex-grow(1);
		}
	}
}
