
.modal {
	width: 320px;
	background: #fff;
	padding: 40px 30px;
	@include border-radius(6px);

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 0 30px 0;
		border-bottom: 1px solid #dcdcdc;
		@include flexbox();

		li {
			bottom: -1px;
			margin-right: 30px;
			position: relative;

			a {
				color: #707985;
				font-size: 1.8rem;
				line-height: 2rem;
				padding-bottom: 20px;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 2px solid transparent;

				&:hover {
					color: #27323f;
				}
			}

			&.active {

				a {
					color: #27323f;
					font-weight: 600;
					border-bottom-color: #ffcc00;
				}
			}
		}
	}

	&__heading {
		color: #27323f;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		margin: 0 0 30px 0;
		padding-bottom: 20px;
		text-transform: uppercase;
		border-bottom: 1px solid #dcdcdc;
	}

	&__confirm {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.2rem;
		padding-left: 110px;
		padding-bottom: 20px;
		background: url("../img/icon__lock.png") 0 0 no-repeat;
	}

	@media (min-width: $screen-md-min) {
		width: 490px;
		padding: 40px 54px;
	}
}