.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding: 50px 0;
	@include flex-grow(1);

	&_row {
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include align-items(flex-start);
		@include justify-content(space-between);
	}

	&_col {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&_col {
			width: calc(50% - 20px);
		}
	}

	@media (min-width: $screen-xl-min) {

		&_col {
			width: calc(50% - 45px);
		}
	}
}

.main_heading {
	height: 120px;
	padding: 20px 0;
	background: #1c2530 url("../img/breadcrumbs__bg.jpg") 50% 50% no-repeat;
	@include flexbox();
	@include flex-direction(column);

	&__row {
		width: 100%;
		margin: auto 0;
	}

	&__wrap {
		margin: 0 -10px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__col {
		padding: 5px 10px;
	}

	&__nav {
		padding: 0;
		margin: 0 -10px;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			padding: 0 10px;

			a {
				color: #ffcc00;
				padding-bottom: 8px;
				text-decoration: none;
				display: inline-block;
				border-bottom: 2px solid transparent;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

			&.active {

				a {
					border-bottom-color: #ffcc00;

					&:hover {
						color: #ffcc00;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		height: 185px;

		&__nav {
			margin: 0 -18px;

			li {
				padding: 0 18px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			margin: 0 -18px;

			li {
				padding: 0 18px;
			}
		}
	}
}


.heading {
	color: #1c2530;
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.heading_line {
	color: #27323f;
	overflow: hidden;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;

	&:before {
		left: 0;
		right: 0;
		top: 50%;
		z-index: 1;
		content: '';
		height: 1px;
		background: #ccc;
		position: absolute;
	}

	span {
		z-index: 10;
		padding: 0 25px;
		background: #fff;
		position: relative;
		display: inline-block;
	}
}


.products_block {
	overflow: hidden;

	&__heading {
		padding-top: 75px;
		position: relative;
		margin-bottom: 40px;
		border-bottom: 2px solid transparent;

		&:before {
			z-index: 5;
			left: 50%;
			height: 2px;
			content: '';
			width: 148px;
			bottom: -2px;
			background: #fff;
			position: absolute;
			margin-left: -74px;
		}
	}

	&__one {
		border-bottom-color: #8951a2;
	}

	&__two {
		border-bottom-color: #5cad25;
	}

	&__three {
		border-bottom-color: #c99026;
	}

	&__four {
		border-bottom-color: #3e9cc5;
	}

	&__five {
		border-bottom-color: #c1496e;
	}

	&__icon {
		top: 0;
		left: 50%;
		z-index: 10;
		width: 242px;
		height: 195px;
		position: absolute;
		margin-left: -121px;
	}

	&__content {

		h4 {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			margin-top: -40px;
		}
	}
}


.tabs_item {
	display: none;

	&.active {
		display: block;
	}
}


.list_styled {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 35px;
		margin-bottom: 15px;
		background: url("../img/icon__list_check.png") 0 6px no-repeat;
	}
}

.intro {
	height: 100%;
	overflow: hidden;
	background: #fff;
	@include flexbox();
	@include border-radius(5px);
	@include flex-direction(column);
	@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.15));

	&_row {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	&_wrap {
		margin-bottom: 40px;
	}

	&__image {

	}

	&__content {
		padding: 30px 20px;
		@include flexbox();
		@include flex-grow(1);
		@include flex-direction(column);

		h5 {

			a {
				color: #27323f;
				text-decoration: none;

				&:hover {
					color: #1f65c0;
					text-decoration: none;
				}
			}
		}
	}

	&__text {
		margin-bottom: 15px;
		@include flex-grow(1);
	}

	@media (min-width: $screen-md-min) {

		&_wrap {
			width: calc(50% - 15px);
		}
	}

	@media (min-width: $screen-lg-min) {

		&_wrap {
			width: calc(50% - 20px);
		}
	}
}


.info {
	text-align: center;

	&_yellow {
		color: #1c2530;
		background: #ffcc00 url("../img/history__bg.jpg") 50% 50% no-repeat;
	}

	&_dark {
		color: #fff;
		background: #1d2732 url("../img/crypto__bg.jpg") 50% 50% no-repeat;
	}

	&__wrap {
		padding: 70px 0;
		overflow: hidden;
	}

	&__heading {
		font-size: 3rem;
		font-weight: 300;
		line-height: 3.2rem;
		margin-bottom: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}

	&__left {
		margin-bottom: 50px;
	}

	&__image {
		margin: 0 auto;
		max-width: 500px;
		position: relative;

		&:before {
			z-index: 1;
			top: -95px;
			left: -79px;
			content: '';
			right: -79px;
			bottom: -95px;
			display: block;
			position: absolute;
			background: url("../img/history__shadow.png") 50% 50% no-repeat;
			background-size: cover;
		}

		&_item {
			z-index: 10;
			position: relative;
		}
	}

	&__doc {
		margin: 0;
		padding: 0;
		max-width: 414px;
		display: block;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		li {
			display: block;
			width: calc(50% - 10px);
		}

		a {
			display: block;
			position: relative;

			&:before {
				top: 50%;
				left: 50%;
				z-index: 1;
				content: '';
				width: 267px;
				height: 237px;
				opacity: 0.3;
				position: absolute;
				margin: 0 0 0 -137px;
				background: url("../img/doc__shadow.png") 50% 50% no-repeat;
			}

			img {
				z-index: 20;
				position: relative;
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		text-align: left;

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			width: 450px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}

		&__right {
			width: 440px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__left {
			width: 480px;
		}

		&__right {
			width: 500px;
		}
	}
}


.contact {
	padding-top: 65px;
	padding-bottom: 85px;
	background: #eff2ff url("../img/contact__bg.jpg") 50% 0 no-repeat;

	&__row {

	}

	&__info {
		margin-bottom: 40px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 15px;

				a {
					color: $color-base;
					text-decoration: none;

					&:hover {
						color: $color-base;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__form {
		background: #fff;
		padding: 40px 30px;
		@include border-radius(5px);
		@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.15));

		&__heading {
			margin-bottom: 30px;
			padding-bottom: 20px;
			border-bottom: 1px solid #dcdcdc;

			h4 {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__info {
			padding-top: 40px;
		}

		&__form {
			padding: 40px 55px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
		}

		&__info {
			margin-bottom: 0;
			padding-right: 30px;
			@include flex-grow(1);
		}

		&__form {
			width: 675px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-xl-min) {


		&__info {

		}

		&__form {

		}
	}

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}