.top {
	z-index: 1200;
	font-weight: 400;
	position: relative;
	border-bottom: 1px solid #e8e8e8;

	&__row {
		height: 40px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__nav {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);

		> li {
			margin-right: 20px;

			&:last-child {
				display: none;
				margin-right: 0;
			}

			> a {
				color: #707985;
				padding: 9px 0;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.6rem;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;

				&:hover {
					color: #707985;
					text-decoration: underline;
				}
			}
		}
	}

	&__lng {
		display: block;
	}

	@media (min-width: $screen-sm-min) {
		display: block;

		&__nav {

			> li {

				&:last-child {
					display: block;
				}

				> a {
					padding: 12px 0;
				}
			}
		}
	}
}


.header {
	z-index: 1100;
	font-weight: 400;
	background: #fff;
	position: relative;

	&__row {
		padding: 15px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		width: 205px;
		display: inline-block;
		@include flex-shrink(0);
	}

	&__toggle {
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		padding: 10px 5px;

		span {
			width: 100%;
			height: 3px;
			position: relative;
			margin-bottom: 5px;
			background: #707985;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__menu {
		top: 0;
		left: 0;
		padding: 10px 15px;
		width: 280px;
		height: 100vh;
		z-index: 1300;
		position: fixed;
		background: #fff;
		margin-left: -310px;
		@include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.4));
		@include transition(.3s);
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;

		li {

			a {
				width: 100%;
				padding: 5px 0;
				color: #1c2530;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #1f65c0;
				//	text-decoration: underline;
				}
			}
		}
	}

	&__second {
		margin: 0;
		padding: 0;
		list-style: none;

		li {

			a {
				width: 100%;
				color: #1c2530;
				padding: 5px 0;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;
			}
		}
	}

	&__buttons {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include flexbox();

		li {
			padding: 10px 5px;
		}
	}

	&.nav_open {
		@include transition(.3s);

		.header__toggle {

			span {

				&:nth-child(1) {
					top: 7px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					display: none;
				}

			}
		}

		.header__menu {
			margin-left: 0;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__row {
			height: 125px;
		}

		&__logo {
			margin-right: 40px;
		}

		&__toggle {
			display: none;
		}

		&__menu {
			padding: 0;
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			margin-left: 0;
			position: relative;
			@include flexbox();
			@include flex-grow(1);
			@include align-items(center);
			@include justify-content(space-between);
			@include box-shadow(none);
			@include transition(0s);
		}

		&__nav {
			@include flexbox();

			li {
				margin: 0 15px;

				a {
					padding: 8px 0;
					white-space: nowrap;
					border-top: 2px solid transparent;
					border-bottom: 2px solid transparent;
				}


				&.active {

					a {
						border-bottom-color: #ffcc00;
					}
				}
			}
		}

		&__buttons {
			padding: 0 5px;
		}

		&__second {
			display: none;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			li {
				margin: 0 25px;
			}
		}
	}
}


.lng {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	position: relative;

	&__active {
		height: 40px;
		color: #707985;
		padding: 10px 0;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		&:before {
			left: 50%;
			bottom: -2px;
			z-index: 5;
			width: 13px;
			height: 8px;
			content: '';
			display: block;
			margin-left: -7px;
			position: absolute;
			background: url("../img/lng__arrow.png") 0 0 no-repeat;

			opacity: 0;
			visibility: hidden;
		}

		i {
			margin-right: 8px;
			font-size: 1.4rem;
			position: relative;
		}

		span {
			color: #707985;
			font-size: 1rem;
			font-weight: 600;
			margin-right: 8px;
			line-height: 1.4rem;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
		}

		b {
			width: 16px;
			height: 16px;
			overflow: hidden;
			@include border-radius(50%);
		}
	}

	&__dropdown {
		left: -15px;
		top: 100%;
		right: -15px;
		margin: 1px 0 0 0;
		padding: 10px 0;
		display: none;
		overflow: hidden;
		list-style: none;
		background: #fff;
		position: absolute;
		border-left: 1px solid #f5f5f5;
		border-right: 1px solid #f5f5f5;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.15));
		@include border-radius(0 0 5px 5px);

		li {

			a {
				color: #707985;
				font-size: 1rem;
				padding: 8px 15px;
				line-height: 1.4rem;
				text-decoration: none;
				text-transform: uppercase;
				@include flexbox();
				@include align-items(center);
				@include justify-content(flex-end);

				span {
					margin-right: 8px;
					display: inline-block;
				}

				i {
					width: 16px;
					height: 16px;
					overflow: hidden;
					@include border-radius(50%);
				}


				&:hover {
					color: #000;
					background: #e7e7e7;
					text-decoration: none;
				}
			}
		}
	}


	&.open {

		.lng__active {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}

		.lng__dropdown {
			display: block;
		}
	}
}
