
.breadcrumb {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		color: #fff;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;

		&:after {
			width: 5px;
			height: 9px;
			content: "";
			color: #ffcc00;
			margin: 0 25px;
			display: inline-block;
			background: url("../img/icon__angle_right.svg") 50% 50% no-repeat;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}

