
.btn {
	outline: none;
	color: #1c2530;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 2rem;
	padding: 8px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	border: 2px solid #e9e6db;
	@include border-radius(3px);

	&:hover {
		color: #1c2530;
		background: #ffcc00;
		border-color: #ffcc00;
		@include box-shadow(0px 0px 25px 0px rgba(224, 179, 0, 0.4));
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_yellow {
	background: #ffcc00;
	border-color: #ffcc00;


	&:hover {
		color: #1c2530;
		background: #ffee00;
		border-color: #ffee00;
		@include box-shadow(0px 0px 25px 0px rgba(224, 179, 0, 0.4));
	}
}

.btn_white {
	color: #e9e6db;
	border-color: #e9e6db;
	background: transparent;


	&:hover {
		color: #1c2530;
		background: #ffcc00;
		border-color: #ffcc00;
	}
}

.btn_border_yellow {
	color: #e9e6db;
	border-color: #ffcc00;
	background: transparent;


	&:hover {
		color: #000;
		background: #ffcc00;
		border-color: #ffcc00;
	}
}

.btn_border_dark {
	color: #1c2530;
	border-color: #1c2530;
	background: transparent;


	&:hover {
		color: #fff;
		background: #1c2530;
		border-color: #1c2530;
	}
}
