.form_control {
	margin: 0;
	width: 100%;
	height: 42px;
	outline: none;
	color: #1c2530;
	background: #fff;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 10px 15px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #d6d9dd;
	@include placeholder(#1c2530);
	@include border-radius(3px);

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

}

textarea.form_control {
	height: auto;
}


.form_select {
	-webkit-appearance : none;
	background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;

	&::-ms-expand {
		display: none;
	}

}


.form_group {
	margin-bottom: 15px;
}

.form_item {
	position: relative;
}

.error {

	.form_control {
		border-color: #ef3a4f;
	}
}

.form_label {
	width: 100%;
	color: #707985;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin-bottom: 5px;
	display: inline-block;
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #1c2530;
		font-size: 1.2rem;
		line-height: 1.8rem;
		position: relative;
		padding-left: 28px;
		display: inline-block;

		&:after {
			top: 0;
			left: 0;
			z-index: 10;
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			display: inline-block;
			border: 1px solid #d6d9dd;
			@include border-radius(3px);
		}

		&:before {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 15;
			content: '';
			width: 18px;
			height: 18px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__check.svg") 50% 50% no-repeat;
		}
	}

	input:checked + span {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_captcha {
	padding: 5px 0;
}

.form_row {
	width: 100%;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
}

.form_col {
	padding: 5px 0;

	&_elem {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {

		&_elem {
			width: calc(50% - 8px);
		}
	}
}

.center_box {
	@include flexbox();

	> * {
		margin: auto 0;
	}
}

